.ins{ background-color: #8CACD4; }

body{ 
	padding-top: 50px; 
	background-color: #388E8E;
	font-family: "Comic Sans MS", 
	sans-serif; 
	color:#7FFF00; 
	font-size: 12; 
}

.foco:focus{
  background-color: orange;
}

.foco:blur{
  background-color: white;
}
